<h1>New Pet</h1>
<section>
  <%= form_with url: "/shelters/#{@shelter.id}/pets", method: :post, local: true do |f| %>
    <p>
      <%= f.label :name %>
      <%= f.text_field :name %>
    </p>
    <p>
      <%= f.label :breed %>
      <%= f.text_field :breed %>
    </p>
    <p>
      <%= f.label :age %>
      <%= f.number_field :age %>
    </p>
    <p>
      <%= f.label :adoptable %>
      <%= f.check_box :adoptable, value: true %>
    </p>
    <%= f.submit %>
  <% end %>
</section>
