<section>
  <h3><%= @pet.name %></h3>
  <p><%= @pet.age %> years old</p>
  <p><%= @pet.breed %></p>
  <p>Adoptable: <%= @pet.adoptable %></p>
  <p><%= @pet.shelter_name %></p>

  <p><%= button_to "Update #{@pet.name}", "/pets/#{@pet.id}/edit" %></p>
  <p><%= button_to "Delete #{@pet.name}", "/pets/#{@pet.id}", method: :delete, :onclick => "return confirm('Are you sure you want to delete this pet?')" %></p>
</section>
