<h1>Add Description</h1>

<div id="submit"><%= form_with url: "/apps/#{@app.id}", method: :patch, local: true do |form| %>
  <p><%= form.label :description %></p>
  <p><%= form.text_area :description, size: '60x5', placeholder: 'I would make a good owner because...' %></p>
  <%= form.hidden_field :status, value: 'pending' %>
  <p><%= form.submit 'Submit Application' %></p>
<% end %></div>
