<h1>All Applications</h1>

<% @apps.each do |application| %>
  <section id="application-<%= application.id %>">
    <h2><%= link_to "#{application.name}", "/apps/#{application.id}" %></h2>
    <p><%= application.address %>
      <br>
    <%= application.city %>, <%= application.state %> <%= application.zip %>
    <br>
    <%= application.description %></p>
  </section>
<% end %>
