<h1><%= @shelter_address.name %></h1>
<p><%= @shelter_address.address %>
<br>
<%= @shelter_address.city %>
<br>
<%= @shelter_address.zip %></p>

<h2>Shelter Statistics:</h2>
<p>Average age of adoptable pets: <%= @avg_pet_age %></p>
