<h4>
  <%= link_to "User Shelters Show", "/shelters/#{@shelter.id}" %>
</h4>

<section>
  <h1><%= @shelter_address.name %></h1>
  <h4>
    <%= @shelter_address.address %>
    <br>
    <%= @shelter_address.city %>
    <br>
    <%= @shelter_address.zip %>
  </h4>

  <section>
    <h3>Shelter Statistics</h3>
    <p>Average age of adoptable pets: <%= @avg_pet_age %></p>
    <p>Number of adoptable pets: <%= @adoptable %></p>
    <p>Number of adopted pets: <%= @approved %></p>
  </section>

  <section>
    <h3>Action Required</h3>
    <div id="action_required">
      <% @action_reqd.each do |pet| %>
        <% pet.pet_apps.where(approval: nil).each_with_index do |pet_app, index| %>
          <p id="link-<%= index %>"><%= link_to "#{pet.name}", "/admin/apps/#{pet_app.app.id}" %></p>
        <% end %>
      <% end %>
    </div>
  </section>
</section>
